$cont-color--default: #d4d6e3;
$cont-color--main: #402d7a;
$cont-radius--default: 0.25rem;

$text-color--default: #515151;
$text-color--main: #64599a;
$text-color--secondary: #d4d6e3;
$text-size--default: 1rem;
$text-size--small: 0.9rem;
$text-size--micro: 0.85rem;
$text-spaces--default: 1rem;
$text-spaces--large: 1.5rem;

:root {
  --text-color--default: #{$text-color--default};
  --text-family--default: Roboto, Helvetica, sans-serif;
  --text-size--default: 16px;
}
